body {
    background: #eaeaea;
    margin: 32px 24px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2rem;
    color: #272727;
}


@media (min-width: 480px) {
  p { font-size: 1rem; }
}


button {
  font-size: 18px;
  padding: 8px 1rem;
  text-decoration: none;
  border-radius: 2rem;
  border: none;
  text-align: center;
}